@use "./mixins" as mix;
@use "./variables" as *;
@use "./index";
@use "./listings";
@use "./footer";
.home-page {
  background-color: color("primary");
  .create-listing-btn {
    background-color: color("success");
    color: color("background");
    @include mix.padding(10px, 15px);
    @include mix.rounded(2px);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    &:hover {
      background-color: color("green-btn-hover");
    }
  }
}
@media (max-width: 992px) {
  .home-page {
    .create-listing-btn {
      font-size: 0.9rem;
    }
  }
}
